body {
    background-color:rgb(31, 31, 32);
}

#img-bg{
    background-image: url('https://data.whicdn.com/images/342665651/original.jpg');
    min-height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 20px  rgb(20, 20, 20);
    
}

.bgC{
    color: white;
}

.bB{
    color: white; 
}

.bB:hover{
    cursor: pointer;
    color: rgb(5, 5, 5);
}

button{
    background-color:rgb(20, 20, 20);
    color: white
}

button:hover{
    background-color: white;
    color: rgb(5, 5, 5);
    border: 2px solid rgb(32, 32, 32);
    cursor: pointer;
}

.hrC{
    color: white;
}