#img-bg{
    background-image: url('https://i.pinimg.com/564x/b0/bf/11/b0bf11d053e387f1a9bfffcfbd398acc.jpg');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}