#img-bg{
    background-image: url('https://i.pinimg.com/564x/93/c4/52/93c45276f5842651fa8dc3b1fef7ca75.jpg');
    min-height: 690px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}